<div align="center">
  <h1>NewsSearch</h1>

  <p>The Dopest Search Engine</p>
  <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q, "", :size => "100") %>
      <%= submit_tag("search") %>
  <% end %>
</div>